.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.25;
  height: 100vh;
  background-color: #2f3135;
}

.sidebar_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #2f3135;
  color: #fff;
  border-bottom: 3px solid #26282c;
}

.sidebar_channels {
  flex: 1;
  overflow: scroll;
}

.sidebar_channels::-webkit-scrollbar {
  display: none;
}

.sidebar_channels {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.sidebar_addChannel {
  cursor: pointer;
}

.sidebar_addChannel:hover {
  color: #fff;
}

.sidebar_channelsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #2f3135;
  color: grey;
}

.sidebar_header {
  display: flex;
  align-items: center;
}

.sidebar_voice,
.sidebar_profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: grey;
  background-color: #2f3135;
  padding: 10px;
  border-top: 1px solid grey;
}

.sidebar_voiceInfo {
  flex: 1;
  padding: 10px;
}

.sidebar_voiceIcon {
  color: #4fb185;
}

.sidebar_voiceInfo > h3 {
  color: #4fb185;
}

.sidebar_voiceInfo > p {
  font-size: smaller;
}

.sidebar_voiceIcons > .MuiSvgIcon-root {
  padding: 10px;
}

.sidebar_profileInfo {
  padding: 10px;
  flex: 1;
}

.sidebar_profileInfo > h3 {
  color: #fff;
}

.sidebar_profileIcons > .MuiSvgIcon-root {
  padding: 10px;
}
